[alias]
   smtb = "!git submodule foreach -q --recursive 'branch=\"$(git config -f $toplevel/.gitmodules submodule.$name.branch)\"; git checkout $branch'"
   init-submodule = !git submodule update --init --recursive --remote && git smtb
