branches:
  only:
    - oxidocs
    - ezidocs
install:
  - cmd: pip install mkdocs
  
build_script:
  - cmd: mkdocs build --config-file mkdocs-au.yml
  - cmd: mkdocs build --config-file mkdocs-nz.yml

artifacts:
  - path: ezipay-au
    name: ezipay-au
    type: zip
  - path: ezipay-nz
    name: ezipay-nz
    type: zip

deploy:
  - provider: S3
    access_key_id: AKIAJIUIKUBZBXHSAR5Q
    secret_access_key: 
      secure: 3pvBXjsWdGcaxmh5339WyN34ukiKJHyq+lfwxkyd+tfxu/0XgrQDsMfD5Uf44j+h
    bucket: docs.certegyezipay.com.au
    region: ap-southeast-2
    unzip: true
    set_public: true
    artifact: ezipay-au
  - provider: S3
    access_key_id: AKIAJIUIKUBZBXHSAR5Q
    secret_access_key: 
      secure: 3pvBXjsWdGcaxmh5339WyN34ukiKJHyq+lfwxkyd+tfxu/0XgrQDsMfD5Uf44j+h
    bucket: docs.certegyezipay.co.nz
    region: ap-southeast-2
    unzip: true
    set_public: true
    artifact: ezipay-nz

notifications:
  - provider: Email
    to:
      - pit@certegy.com.au
      - devadmin@oxipay.com.au
  - provider: Slack
    auth_token:
      secure: QWE2vFI2LUFAu+jx4lXHihtpPFoVi+ru0mHSC/BvsyXYcRvgh7Tc8zEEaKkj1n5V09+Ti39CvVooS3Y8VTn7PYC6lef2OrQQ+ivqkJL+lZI=
    channel: '#alerts'
