body {
  color: #555; }
  body a {
    color: #e68821; }
    body a:hover {
      color: #bf6e15; }
  body .navbar-default {
    background-color: #252525;
    border-color: #252525;
    border: none; }
    body .navbar-default .navbar-brand {
      text-indent: -9990px;
      background-image: url("/img/oxidocs.svg");
      background-repeat: no-repeat;
      background-position: center center;
      margin: 10px 0 !important;
      padding: 0;
      height: 40px; }
    body .navbar-default .navbar-nav li a:hover, body .navbar-default .navbar-nav li a:focus {
      color: #e68821; }
    body .navbar-default .navbar-nav li .dropdown-menu {
      background-color: #3f3f3f;
      border-top: none; }
      body .navbar-default .navbar-nav li .dropdown-menu li a {
        background-color: #3f3f3f; }
        body .navbar-default .navbar-nav li .dropdown-menu li a:hover {
          color: #e68821; }
    body .navbar-default .navbar-nav .active a, body .navbar-default .navbar-nav .active a:hover, body .navbar-default .navbar-nav .active a:focus, body .navbar-default .navbar-nav .open a, body .navbar-default .navbar-nav .open a:hover, body .navbar-default .navbar-nav .open a:focus {
      color: #fff;
      background-color: #e68821; }
    body .navbar-default .navbar-nav .active .dropdown-menu, body .navbar-default .navbar-nav .open .dropdown-menu {
      background-color: #3f3f3f;
      border-top: none; }
      body .navbar-default .navbar-nav .active .dropdown-menu li a, body .navbar-default .navbar-nav .open .dropdown-menu li a {
        background-color: #3f3f3f; }
        body .navbar-default .navbar-nav .active .dropdown-menu li a:hover, body .navbar-default .navbar-nav .open .dropdown-menu li a:hover {
          color: #e68821; }
  body .btn-primary {
    color: #fff;
    background-color: #e68821;
    border-color: #e68821; }
    body .btn-primary:hover, body .btn-primary:active, body .btn-primary:focus {
      background-color: #bf6e15;
      border-color: #bf6e15; }
